---
layout: ""
page_title: "Provider: Cloud Posse Atmos"
description: |-
  Terraform provider for atmos utilities for stack and component configuration management.
---

# Cloud Posse Atmos Provider

Terraform provider for atmos utilities for stack and component configuration management.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
